---
import "@/global/global.scss";
import { LOCALE } from "../global/constants";
import Head, { type HeadProps } from "./Head.astro";
import CookieConsent from "@/components/global/CookieConsent.astro";
import Header from "@/components/global/Header/index.astro";
import Footer from "@/components/global/Footer.astro";

const props = Astro.props as HeadProps;
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <Head {...props} />
  </head>
  <body>
    <CookieConsent />
    <Header />
    <main id='main'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
