---
import Layout from "../layouts/Layout.astro";
import metadataFetch from "@/utils/metadata.fetch";
import Button from "@/components/ui/Button.astro";

const metadata = await metadataFetch("Index_Page");

const cta = {
  href: "/",
  text: "Zobacz więcej",
  theme: "primary" as const,
};
---

<Layout {...metadata} path='/'>
  <Button {...cta} />
  <h1>Heading 1</h1>
</Layout>
