---
import type { HTMLAttributes } from "astro/types";

type Props = {
  icon: "KryptonumLogo" | "BloodwiseLogo" | "Facebook" | "Instagram" | "Linkedin";
} & HTMLAttributes<"svg">;

const { icon, ...props } = Astro.props;
---

{
  icon === "BloodwiseLogo" && (
    <svg xmlns='http://www.w3.org/2000/svg' width='184' height='29' fill='none' viewBox='0 0 184 29' {...props}>
      <g clip-path='url(#a)'>
        <path
          fill='#F3FEFD'
          d='M51.112 5.874h5.314c.895 0 1.714.108 2.456.324.74.216 1.374.51 1.9.911.525.402.942.88 1.22 1.452.293.572.432 1.205.432 1.915v.263c0 .788-.17 1.498-.494 2.132-.325.633-.819 1.173-1.498 1.637.988.448 1.73 1.035 2.255 1.776.525.742.772 1.637.772 2.688v.231c0 .788-.14 1.514-.433 2.147a4.327 4.327 0 0 1-1.25 1.622c-.541.448-1.206.773-1.962 1.02a8.9 8.9 0 0 1-2.58.355h-6.147V5.874h.015Zm5.499 8c1.174 0 2.07-.262 2.688-.772.617-.51.926-1.235.926-2.193v-.216c0-.88-.309-1.576-.942-2.07-.633-.51-1.514-.757-2.688-.757h-3.382v5.993h3.383l.015.016Zm.602 8.48c.634 0 1.205-.077 1.715-.216s.942-.34 1.282-.602a2.68 2.68 0 0 0 .788-.973 3.03 3.03 0 0 0 .278-1.313v-.232c0-.494-.093-.927-.278-1.313a2.57 2.57 0 0 0-.804-.973 3.793 3.793 0 0 0-1.282-.602 6.387 6.387 0 0 0-1.699-.217h-3.985v6.472h3.985v-.03ZM66.372 5.874h2.116v16.48h7.63v2.008h-9.746V5.874ZM75.686 14.863c0-1.405.217-2.672.634-3.8a8.495 8.495 0 0 1 1.776-2.903 7.8 7.8 0 0 1 2.688-1.87c1.035-.432 2.178-.648 3.413-.648h.263c1.236 0 2.363.216 3.413.649a7.462 7.462 0 0 1 2.688 1.869c.757.818 1.344 1.776 1.776 2.904.433 1.127.634 2.394.634 3.8v.524c0 1.39-.217 2.657-.634 3.785-.417 1.127-1.02 2.116-1.776 2.92a7.798 7.798 0 0 1-2.688 1.868c-1.035.433-2.178.649-3.413.649h-.263c-1.235 0-2.363-.216-3.413-.649a7.597 7.597 0 0 1-2.688-1.869c-.757-.803-1.344-1.776-1.776-2.92-.433-1.142-.633-2.393-.633-3.784v-.525Zm2.704 3.46a6.758 6.758 0 0 0 1.328 2.255 5.93 5.93 0 0 0 1.992 1.437c.773.34 1.591.51 2.503.51h.216c.896 0 1.73-.17 2.502-.51a5.78 5.78 0 0 0 1.993-1.437c.571-.617 1.004-1.374 1.328-2.255.325-.896.494-1.869.494-2.95v-.525c0-1.097-.17-2.07-.494-2.966a6.839 6.839 0 0 0-1.328-2.24 5.78 5.78 0 0 0-1.993-1.436 6.09 6.09 0 0 0-2.502-.51h-.216c-.896 0-1.73.17-2.502.51a5.78 5.78 0 0 0-1.993 1.437 6.839 6.839 0 0 0-1.328 2.24c-.325.88-.495 1.868-.495 2.965v.525c0 1.081.17 2.054.495 2.95ZM94.485 14.863c0-1.405.216-2.672.633-3.8a8.493 8.493 0 0 1 1.776-2.903 7.8 7.8 0 0 1 2.688-1.87c1.035-.432 2.178-.648 3.413-.648h.263c1.236 0 2.363.216 3.414.649a7.464 7.464 0 0 1 2.687 1.869c.757.818 1.344 1.776 1.776 2.904.433 1.127.634 2.394.634 3.8v.524c0 1.39-.217 2.657-.634 3.785-.417 1.127-1.019 2.116-1.776 2.92a7.806 7.806 0 0 1-2.687 1.868c-1.035.433-2.178.649-3.414.649h-.263c-1.235 0-2.363-.216-3.413-.649a7.596 7.596 0 0 1-2.688-1.869c-.757-.803-1.344-1.776-1.776-2.92-.433-1.142-.633-2.393-.633-3.784v-.525Zm2.703 3.46a6.758 6.758 0 0 0 1.328 2.255 5.927 5.927 0 0 0 1.993 1.437c.772.34 1.59.51 2.502.51h.216c.896 0 1.73-.17 2.502-.51a5.775 5.775 0 0 0 1.993-1.437c.571-.617 1.004-1.374 1.328-2.255.325-.896.494-1.869.494-2.95v-.525c0-1.097-.169-2.07-.494-2.966a6.833 6.833 0 0 0-1.328-2.24 5.774 5.774 0 0 0-1.993-1.436 6.09 6.09 0 0 0-2.502-.51h-.216c-.896 0-1.73.17-2.502.51a5.778 5.778 0 0 0-1.993 1.437 6.839 6.839 0 0 0-1.328 2.24c-.325.88-.495 1.868-.495 2.965v.525c0 1.081.17 2.054.495 2.95ZM114.425 5.874h5.175c1.39 0 2.656.2 3.799.617 1.143.417 2.117 1.004 2.935 1.777a7.856 7.856 0 0 1 1.885 2.764c.448 1.082.679 2.271.679 3.6v.525c0 1.39-.231 2.656-.679 3.784a8.509 8.509 0 0 1-1.885 2.904 8.238 8.238 0 0 1-2.935 1.869c-1.143.448-2.409.664-3.799.664h-5.175V5.874Zm5.175 16.48c1.112 0 2.1-.17 2.965-.51.865-.34 1.591-.803 2.209-1.42.603-.618 1.066-1.375 1.39-2.286.325-.912.479-1.931.479-3.043V14.6c0-1.034-.154-1.977-.479-2.795-.324-.834-.772-1.53-1.39-2.116-.602-.587-1.344-1.02-2.224-1.329-.865-.309-1.854-.463-2.95-.463h-3.059V22.37h3.059v-.016ZM129.27 5.874h2.224l3.275 16.14h.108l4.248-16.14h2.038l4.248 16.14h.108l3.537-16.14h2.225l-4.248 18.488h-2.904l-3.908-14.658h-.108l-3.939 14.658h-2.903l-3.986-18.488h-.015ZM153.179 5.874h2.116v18.489h-2.116V5.874ZM162.324 24.44a9.794 9.794 0 0 1-1.776-.525 8.964 8.964 0 0 1-1.622-.85c-.51-.34-.973-.71-1.375-1.112l1.344-1.606c.34.37.71.695 1.112.957.402.278.834.51 1.313.68.463.185.942.324 1.436.417.495.093.989.139 1.483.139.633 0 1.189-.062 1.684-.2a3.429 3.429 0 0 0 1.22-.572c.324-.248.587-.556.772-.943.17-.37.263-.818.263-1.313 0-.726-.17-1.297-.525-1.73-.356-.432-.819-.787-1.39-1.08a10.506 10.506 0 0 0-1.931-.742c-.711-.2-1.437-.417-2.147-.649a11.402 11.402 0 0 1-1.591-.664 4.785 4.785 0 0 1-1.313-.927 4.148 4.148 0 0 1-.88-1.328c-.217-.525-.325-1.143-.325-1.87 0-.756.139-1.436.402-2.053a4.162 4.162 0 0 1 1.174-1.56 5.401 5.401 0 0 1 1.838-1.004 7.713 7.713 0 0 1 2.394-.356c1.112 0 2.178.201 3.228.603 1.035.401 1.9.957 2.595 1.668l-1.297 1.637c-.572-.618-1.267-1.066-2.117-1.375-.849-.293-1.668-.447-2.486-.447-.572 0-1.066.061-1.499.2a3.345 3.345 0 0 0-1.127.556 2.212 2.212 0 0 0-.695.865 2.69 2.69 0 0 0-.232 1.143c0 .526.108.974.34 1.329.232.355.54.68.958.942.401.262.88.494 1.421.68.54.185 1.127.37 1.745.54.68.201 1.375.417 2.054.68.68.262 1.282.587 1.838.988.541.402.989.912 1.329 1.514.34.602.494 1.36.494 2.255 0 .803-.139 1.545-.433 2.193a4.693 4.693 0 0 1-1.235 1.653 5.817 5.817 0 0 1-1.962 1.05c-.772.248-1.622.371-2.579.371a9.432 9.432 0 0 1-1.854-.185l-.046.03ZM172.626 5.874h10.271v2.008h-8.155v5.993h7.63v2.008h-7.63v6.471h8.418v2.008h-10.534V5.874Z'
        />
        <path
          fill='#86DED8'
          d='M21.084 16.825a1.378 1.378 0 0 1-1.374-1.375V2.105c0-.757.618-1.375 1.374-1.375.757 0 1.375.618 1.375 1.375v13.36c0 .757-.618 1.375-1.375 1.375v-.015ZM25.61 18.045a1.363 1.363 0 0 1-1.174-2.054L31.11 4.42c.37-.648 1.22-.88 1.869-.494.649.371.88 1.22.494 1.87L26.8 17.364c-.247.433-.71.68-1.189.68ZM28.932 21.35c-.48 0-.927-.247-1.19-.68-.37-.648-.154-1.498.495-1.868l11.569-6.673a1.363 1.363 0 0 1 1.869.494c.37.65.154 1.499-.495 1.87l-11.569 6.672a1.365 1.365 0 0 1-.68.185ZM16.559 18.045c-.479 0-.927-.247-1.19-.68L8.698 5.781c-.37-.649-.155-1.499.494-1.87a1.363 1.363 0 0 1 1.87.495l6.672 11.57c.37.648.154 1.497-.495 1.868a1.365 1.365 0 0 1-.68.185v.016ZM13.253 21.35c-.231 0-.463-.062-.68-.185L.99 14.492a1.364 1.364 0 0 1-.494-1.869c.37-.648 1.22-.88 1.869-.494l11.57 6.673c.648.37.88 1.22.493 1.869-.247.432-.71.68-1.189.68h.015Z'
        />
        <path
          fill='#F3FEFD'
          d='M21.084 12.006a1.378 1.378 0 0 1-1.374-1.375V2.105c0-.757.618-1.375 1.374-1.375.757 0 1.375.618 1.375 1.375v8.541c0 .757-.618 1.375-1.375 1.375v-.015ZM5.036 16.609c-.232 0-.463-.062-.68-.186L.99 14.477a1.364 1.364 0 0 1-.494-1.869c.37-.649 1.22-.88 1.869-.494l3.367 1.946a1.367 1.367 0 0 1-.695 2.549ZM37.149 16.609c-.479 0-.927-.247-1.19-.68-.37-.649-.154-1.498.495-1.869l3.367-1.946a1.364 1.364 0 0 1 1.87.494c.37.649.153 1.498-.495 1.87l-3.367 1.945a1.366 1.366 0 0 1-.68.186ZM12.99 11.851c-.478 0-.926-.247-1.188-.68L8.697 5.797c-.37-.648-.155-1.498.494-1.869a1.363 1.363 0 0 1 1.87.495l3.104 5.375c.37.649.154 1.498-.494 1.869a1.365 1.365 0 0 1-.68.185ZM29.195 11.852c-.232 0-.464-.062-.68-.186a1.363 1.363 0 0 1-.494-1.869l3.104-5.375c.371-.649 1.22-.88 1.87-.494.648.37.88 1.22.494 1.869l-3.105 5.375c-.247.433-.71.68-1.19.68ZM23.958 26.108a2.877 2.877 0 0 1-2.873 2.873 2.868 2.868 0 0 1-2.873-2.873c0-1.591 2.873-5.73 2.873-5.73s2.873 4.154 2.873 5.73Z'
        />
      </g>
      <defs>
        <clipPath id='a'>
          <path fill='#fff' d='M.311.73h182.85v28.235H.311z' />
        </clipPath>
      </defs>
    </svg>
  )
}
{
  icon === "KryptonumLogo" && (
    <svg xmlns='http://www.w3.org/2000/svg' width='88' height='16' fill='none' {...props}>
      <path
        fill='#86DED8'
        d='M6.194 11.344 1.602 6.256v5.088H.146V.192h1.456V5.36L6.21.192h1.84L2.994 5.776l5.104 5.568H6.194ZM11.34 4c.257-.501.62-.89 1.089-1.168.48-.277 1.06-.416 1.744-.416V3.92h-.384c-1.632 0-2.448.885-2.448 2.656v4.768H9.885V2.576h1.456V4ZM23.565 2.576l-5.28 12.896h-1.504l1.728-4.224-3.536-8.672h1.616l2.752 7.104 2.72-7.104h1.504ZM26.645 4.192c.288-.501.715-.917 1.28-1.248.576-.341 1.243-.512 2-.512a4.06 4.06 0 0 1 2.112.56c.64.373 1.141.901 1.504 1.584.363.672.544 1.456.544 2.352 0 .885-.181 1.675-.544 2.368a4.003 4.003 0 0 1-1.504 1.616 3.975 3.975 0 0 1-2.112.576c-.747 0-1.408-.165-1.984-.496-.565-.341-.997-.763-1.296-1.264v5.776h-1.456V2.576h1.456v1.616Zm5.952 2.736c0-.661-.133-1.237-.4-1.728a2.754 2.754 0 0 0-1.088-1.12 2.946 2.946 0 0 0-1.488-.384 2.91 2.91 0 0 0-1.488.4c-.448.256-.81.635-1.088 1.136-.267.49-.4 1.061-.4 1.712 0 .661.133 1.243.4 1.744.277.49.64.87 1.088 1.136.459.256.955.384 1.488.384.544 0 1.04-.128 1.488-.384a2.864 2.864 0 0 0 1.088-1.136c.267-.501.4-1.088.4-1.76ZM37.938 3.776v5.168c0 .427.09.73.271.912.182.17.496.256.944.256h1.072v1.232h-1.312c-.81 0-1.418-.187-1.823-.56-.406-.373-.609-.987-.609-1.84V3.776h-1.136v-1.2h1.136V.368h1.456v2.208h2.288v1.2h-2.288ZM45.974 11.488a4.534 4.534 0 0 1-2.24-.56 4.07 4.07 0 0 1-1.568-1.584c-.374-.693-.56-1.493-.56-2.4 0-.896.192-1.685.576-2.368a4.009 4.009 0 0 1 1.6-1.584c.672-.373 1.424-.56 2.256-.56.832 0 1.584.187 2.256.56.672.363 1.2.885 1.584 1.568.394.683.592 1.477.592 2.384 0 .907-.203 1.707-.608 2.4a4.118 4.118 0 0 1-1.616 1.584c-.683.373-1.44.56-2.272.56Zm0-1.28c.522 0 1.013-.123 1.472-.368a2.748 2.748 0 0 0 1.104-1.104c.288-.49.432-1.088.432-1.792s-.14-1.301-.416-1.792c-.278-.49-.64-.853-1.088-1.088a2.983 2.983 0 0 0-1.456-.368c-.534 0-1.024.123-1.472.368-.438.235-.79.597-1.056 1.088-.267.49-.4 1.088-.4 1.792 0 .715.128 1.317.384 1.808.266.49.618.859 1.056 1.104.437.235.917.352 1.44.352ZM56.816 2.416c1.067 0 1.93.325 2.592.976.661.64.992 1.568.992 2.784v5.168h-1.44v-4.96c0-.875-.219-1.541-.656-2-.437-.47-1.035-.704-1.792-.704-.768 0-1.381.24-1.84.72-.448.48-.672 1.179-.672 2.096v4.848h-1.456V2.576H54v1.248a2.903 2.903 0 0 1 1.168-1.04 3.698 3.698 0 0 1 1.648-.368ZM70.714 2.576v8.768h-1.456v-1.296c-.277.448-.666.8-1.168 1.056a3.598 3.598 0 0 1-1.632.368c-.682 0-1.296-.139-1.84-.416a3.184 3.184 0 0 1-1.296-1.28c-.309-.565-.464-1.253-.464-2.064V2.576h1.44V7.52c0 .864.219 1.53.656 2 .438.459 1.035.688 1.792.688.779 0 1.392-.24 1.84-.72.448-.48.672-1.179.672-2.096V2.576h1.456ZM83.877 2.416c.682 0 1.29.144 1.824.432.533.277.954.699 1.264 1.264.31.565.464 1.253.464 2.064v5.168h-1.44v-4.96c0-.875-.219-1.541-.656-2-.427-.47-1.008-.704-1.744-.704-.758 0-1.36.245-1.808.736-.448.48-.672 1.179-.672 2.096v4.832h-1.44v-4.96c0-.875-.219-1.541-.656-2-.427-.47-1.008-.704-1.744-.704-.758 0-1.36.245-1.808.736-.448.48-.672 1.179-.672 2.096v4.832h-1.456V2.576h1.456V3.84a2.89 2.89 0 0 1 1.152-1.056 3.563 3.563 0 0 1 1.616-.368c.736 0 1.386.165 1.952.496.565.33.986.816 1.264 1.456a2.876 2.876 0 0 1 1.216-1.44 3.582 3.582 0 0 1 1.888-.512Z'
      />
    </svg>
  )
}
{
  icon === "Facebook" && (
    <svg xmlns='http://www.w3.org/2000/svg' width='21' height='21' fill='none' {...props}>
      <title>Facebook</title>
      <path
        fill='#C4F9F5'
        d='M20.25 10.305c0-5.556-4.477-10.06-10-10.06s-10 4.504-10 10.06c0 5.022 3.657 9.184 8.438 9.94v-7.032h-2.54v-2.908h2.54V8.09c0-2.522 1.492-3.915 3.777-3.915 1.094 0 2.238.197 2.238.197v2.476h-1.26c-1.243 0-1.63.775-1.63 1.571v1.887h2.773l-.443 2.909h-2.33v7.03c4.78-.755 8.437-4.917 8.437-9.939Z'
      />
    </svg>
  )
}
{
  icon === "Instagram" && (
    <svg xmlns='http://www.w3.org/2000/svg' width='19' height='19' fill='none' {...props}>
      <title>Instagram</title>
      <path
        fill='#C4F9F5'
        fill-rule='evenodd'
        d='M13.25.244h-8a5 5 0 0 0-5 5v8a5 5 0 0 0 5 5h8a5 5 0 0 0 5-5v-8a5 5 0 0 0-5-5Zm3.25 13a3.26 3.26 0 0 1-3.25 3.25h-8A3.26 3.26 0 0 1 2 13.244v-8a3.26 3.26 0 0 1 3.25-3.25h8a3.26 3.26 0 0 1 3.25 3.25v8ZM14 5.494a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm-4.75-.75a4.5 4.5 0 1 0 4.5 4.5 4.49 4.49 0 0 0-4.5-4.5Zm-2.75 4.5a2.75 2.75 0 1 0 5.5 0 2.75 2.75 0 0 0-5.5 0Z'
        clip-rule='evenodd'
      />
    </svg>
  )
}
{
  icon === "Linkedin" && (
    <svg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none' {...props}>
      <title>LinkedIn</title>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M1.75 0.244141C0.92157 0.244141 0.25 0.915711 0.25 1.74414V16.7441C0.25 17.5725 0.92157 18.2441 1.75 18.2441H16.75C17.5784 18.2441 18.25 17.5725 18.25 16.7441V1.74414C18.25 0.915711 17.5784 0.244141 16.75 0.244141H1.75ZM5.77076 4.24686C5.77639 5.20311 5.06061 5.79233 4.21123 5.78811C3.41107 5.78389 2.71357 5.14686 2.71779 4.24827C2.72201 3.40311 3.38998 2.72389 4.25764 2.74358C5.13795 2.76327 5.77639 3.40874 5.77076 4.24686ZM9.5297 7.0059H7.00971H7.0083V15.5657H9.6717V15.366C9.6717 14.9861 9.6714 14.6061 9.6711 14.226C9.6703 13.2122 9.6694 12.1973 9.6746 11.1838C9.676 10.9377 9.6872 10.6818 9.7505 10.4469C9.9881 9.56944 10.7771 9.00274 11.6574 9.14204C12.2227 9.23054 12.5967 9.55824 12.7542 10.0912C12.8513 10.4244 12.8949 10.783 12.8991 11.1304C12.9105 12.178 12.9089 13.2256 12.9073 14.2733C12.9067 14.6431 12.9061 15.0131 12.9061 15.3829V15.5643H15.578V15.359C15.578 14.907 15.5778 14.4551 15.5775 14.0032C15.577 12.8737 15.5764 11.7442 15.5794 10.6143C15.5808 10.1038 15.526 9.60044 15.4008 9.10684C15.2138 8.37274 14.8271 7.76524 14.1985 7.32654C13.7527 7.01433 13.2633 6.81324 12.7163 6.79074C12.654 6.78815 12.5912 6.78476 12.5281 6.78135C12.2484 6.76623 11.9641 6.75087 11.6967 6.8048C10.9317 6.95808 10.2596 7.30824 9.7519 7.92554C9.6929 7.99634 9.6352 8.06824 9.5491 8.17554L9.5297 8.19984V7.0059ZM2.93164 15.5685H5.58242V7.01147H2.93164V15.5685Z'
        fill='#C4F9F5'
      />
    </svg>
  )
}
