---
type Props = {
  copyData: string;
};

const { copyData } = Astro.props;
---

<button class='CopyToClipboard' data-copydata={copyData} data-success={false} aria-label='Skopiuj'>
  <span>Skopiuj</span>
  <svg xmlns='http://www.w3.org/2000/svg' width='16' height='17' fill='none' stroke='currentColor'>
    <path d='M14 8.5c0-3.313-2.688-6-6-6-3.313 0-6 2.688-6 6 0 3.313 2.688 6 6 6 3.313 0 6-2.688 6-6z'></path>
    <path d='m11 6-4.2 5L5 9'></path>
  </svg>
</button>

<style lang='scss'>
  .CopyToClipboard {
    padding: 4px 12px;
    overflow: hidden;
    font-size: calc(12rem / 16);
    border-radius: 4px;
    border: 1px solid var(--primary-400, #6bd6cd);
    background: var(--primary-100, #e5f9f8);
    position: relative;
    span {
      transition: 0.5s var(--easing);
    }
    &[data-success="true"] {
      span {
        opacity: 0;
      }
      svg path {
        animation: icon 0.8s var(--easing) forwards;
      }
    }
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      path {
        &:first-child {
          stroke-dasharray: 38;
          stroke-dashoffset: 38;
          transform: rotate(-45deg);
          transform-origin: center;
        }
        &:last-child {
          stroke-dasharray: 10;
          stroke-dashoffset: 10;
          animation-delay: 0.5s;
        }
      }
    }
  }
  @keyframes icon {
    // 100% target doesn't work on Safari, so I have to use 99% and 100% instead
    99%,
    100% {
      stroke-dashoffset: 0;
    }
  }
</style>

<script>
  document.querySelectorAll(".CopyToClipboard").forEach(element => {
    element.addEventListener("click", () => {
      const copyData = element.getAttribute("data-copydata");
      navigator.clipboard.writeText(copyData);
      element.setAttribute("data-success", "true");
      element.setAttribute("aria-label", "Skopiowano");
      setTimeout(() => {
        element.setAttribute("data-success", "false");
        element.setAttribute("aria-label", "Skopiuj");
      }, 5000);
    });
  });
</script>
