---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

type Props = {
  name: string;
} & HTMLAttributes<"span">;

const { name, ...props } = Astro.props;
---

<span class='error' role='alert' aria-live='assertive' data-error-name={name} hidden {...props}>
  <Icon name='error' size={16} />
  <span></span>
</span>

<style lang='scss'>
  .error {
    font-size: calc(14rem / 16);
    color: var(--notification-red-500, #bb0c0c);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    svg {
      flex-shrink: 0;
    }
    &[hidden] {
      display: none;
    }
  }
</style>
